body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
  margin: 0;
}

/* 🔥 CLAVE */
.hidden {
  display: none;
}

.screen {
  padding: 20px;
}

button {
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
  display: block;
}

button:active {
  transform: scale(0.95);
}

.info {
  margin-top: 15px;
}