body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
}

.screen {
  margin-top: 50px;
}

.hidden {
  display: none;
}

button {
  margin: 10px;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #38bdf8;
  color: black;
  font-weight: bold;
}

button:hover {
  background: #0ea5e9;
}

.info {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}